body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body .header {
  background-color: #29063d;
}
body .header .headerdiv {
  display: flex;
  margin: 0 110px;
}
body .header .headerdiv .logo {
  display: flex;
  align-items: center;
}
body .header .headerdiv .logo img {
  width: 60px;
  margin: 10px;
}
body .header .headerdiv .logo a {
  text-decoration: none;
  color: white;
  font-size: 22px;
}
body .header .headerdiv .search {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-bottom: 10px;
}
body .header .headerdiv .search img {
  height: 20px;
}
body .header .headerdiv .search a {
  margin: 10px;
  font-size: 18px;
  text-decoration: none;
  color: #d2ff30;
  font-weight: 600;
  border-bottom: solid 1px #d2ff30;
}
body .header .headerdiv .search .donate {
  border: solid 2px #d2ff30;
  border-radius: 20px;
  padding: 5px 15px;
}
body .header .underheader {
  display: flex;
  background-color: #401c53;
  padding: 15px;
}
body .header .underheader div {
  margin: 0 10px 0 110px;
}
body .header .underheader div a {
  margin: 15px 10px;
  font-weight: 500;
  color: white;
  text-decoration: none;
}
body div {
  display: block;
}
body div .first {
  background-color: #29063d;
  margin: 0;
  padding: 0;
}
body div .first a {
  text-decoration: none;
  color: white;
  display: flex;
  margin: 0 110px;
}
body div .first a div {
  display: block;
  margin-right: 10px;
  padding: 0 5px;
}
body div .first a div h1 {
  font-size: 33px;
}
body div .first a div p {
  font-size: 20px;
}
body div .first a div .book {
  background-color: #d2ff30;
  color: black;
  border-radius: 30px;
  padding: 10px 25px 13px;
  width: -moz-max-content;
  width: max-content;
  font-size: 16px;
  font-weight: 600;
}
body div .first a img {
  vertical-align: middle;
  width: 650px;
}
body div .second {
  margin: 0 110px;
  padding: 0;
}
body div .second div {
  display: inline-block;
}
body div .second div .travel {
  width: 850px;
}
body div .second div .travel h2 {
  font-weight: 500;
}
body div .second div .travel a {
  text-decoration: none;
  background-color: blue;
  color: white;
  padding: 10px 30px 15px;
  border-radius: 30px;
  font-weight: 700;
}
body div .second div .open {
  vertical-align: top;
  font-size: 20px;
  font-weight: 350;
}
body div .second .photoarticles {
  display: flex;
}
body div .second .photoarticles .photoarticle {
  margin-bottom: 30px;
}
body div .second .photoarticles .photoarticle img {
  width: 630px;
  margin-right: 20px;
  margin-top: 60px;
}
body div .second .photoarticles .photoarticle h2 {
  margin: 5px 15px;
  font-weight: 600;
  font-size: 30px;
}
body div .second .photoarticles .photoarticle p {
  margin: 8px 15px 30px;
  font-size: 20px;
  font-weight: 300;
}
body div .second .photoarticles .photoarticle a {
  margin: 8px 15px;
  text-decoration: none;
  color: blue;
  font-weight: 500;
  font-size: 17px;
  border: solid 2px blue;
  padding: 8px 15px 12px 15px;
  border-radius: 30px;
}
body footer {
  background-color: #29063d;
  padding-bottom: 60px;
}
body footer div {
  margin-left: 40px;
  display: inline-block;
  margin-top: 20px;
}
body footer div div {
  width: 150px;
  padding-bottom: 15px;
  vertical-align: top;
}
body footer div div .links {
  margin-top: 20px;
  display: block;
}
body footer div div .links a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: 500;
}
body footer div div .links div {
  display: block;
  margin-left: auto;
  padding: 8px 0;
}
body footer div div .links div p {
  width: auto;
  margin: 5px 0;
  font-size: 16px;
}
body footer div div div {
  display: flex;
  margin-right: 0;
  align-items: center;
}
body footer div div div img {
  height: 100px;
}
body footer div div div p {
  line-height: 1;
  width: 70px;
  color: white;
  font-size: 22px;
  margin-left: 5px;
}
body footer div div {
  width: 300px;
}
body footer div div .article {
  display: block;
  border-bottom: solid 2px #401c53;
}
body footer div div .article h2 {
  color: white;
  font-size: 25px;
  font-weight: 500;
}
body footer div div .article a {
  display: block;
  line-height: 1;
  width: 100%;
  color: white;
  font-size: 16px;
  text-decoration: none;
  margin: 7px 0;
}
body footer p {
  margin: 15px 110px 0;
  color: white;
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */